{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-lg-6 product-image-item">
                {% for image_item in product.productimage_set.all %}
                    <div class="product-image-item">
                        <img src="{{ image_item.image.url }}" class="img-responsive2 center-block img-thumbnail">
                    </div>
                    <div>


                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6 indent">
                <h1 class="text-center color" >
                    {{ product.name }}
                </h1>
                <div class="color">
                    <p>
                        Цена: от {{ product.price }}
                    </p>
                </div>
                <div>
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#description" aria-controls="home" role="tab" data-toggle="tab">
                                Описание
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#about" aria-controls="profile" role="tab" data-toggle="tab">
                                Сроки
                            </a>
                        </li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Вопросы/Ответы</a></li>

                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content product-description-tabs">
                        <div role="tabpanel" class="tab-pane active" id="description">
                            {% autoescape off %}

    <h2>{{ product.name }}</h2>
    <p><h4>{{ product.description }}</h4></p>
        {% endautoescape %}
        

                        </div>
                        <div role="tabpanel" class="tab-pane" id="about">
                            <h4>Сроки исполнения заказов индивидуальны и могут зависеть от многих параметров(общий объем работ, дизайн, контент, вид применяемых технологии и так далее). Пожалуйста, скачайте бриф на нашем сайте или заполните Техническое Задание в свободной форме и отправьте на home@goldteam.us</h4>
                        </div>
                        <div role="tabpanel" class="tab-pane thumb-wrap" id="messages">...
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/YJVijEaytvA" frameborder="0" allowfullscreen></iframe>

                       </div>

                      </div>
                </div>
        </div>
    </div>
    </div>
{% endblock %}








