{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}




{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-lg-4 product-image-item">
                {% for image_item in product.productimage_set.all %}
                    <div class="product-image-item">
                        <img src="{{ image_item.image.url }}" class="img-responsive2 center-block img-thumbnail">
                    </div>
                    <div>


                    </div>
                {% endfor %}
              </div>
              <div class="col-lg-8 indent">
                <h1 class="text-center name" >
                    {{ product.name }}
                </h1>
                <div class="color">
                    <p>
                        Цена: от {{ product.price }}
                    </p>
                </div>
                <div>
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#description" aria-controls="home" role="tab" data-toggle="tab">
                                Описание
                            </a>
                        </li>

                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Вопросы/Ответы</a></li>

                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content product-description-tabs">

                            <div role="tabpanel" class="tab-pane active" id="description">
                                <div class="bgfordescription">
                                 {% autoescape off %}
                                   <p><h4>{{ product.description }}</h4></p>
                                 {% endautoescape %}
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="messages">
                                {% autoescape off %}
                                   <p><h4>{{ product.answer }}</h4></p>
                                {% endautoescape %}

                                {% comment %}<div class="thumb-wrap">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YJVijEaytvA" frameborder="0" allowfullscreen></iframe>
                                </div>{% endcomment %}

                                  <div class="col-lg-12">
                                           <h1 class="title2">Не нашли ответ на свой вопрос? Спросите меня!<br>
                                            </h1>

                                         <form action="" method="post">{% csrf_token %}
                                             <div class="form-group">
                                             {% crispy form %}

                                              <button type="submit" class="btn btn-primary">Отправить</button>
                                             </div>

                                         </form>



                                 </div>
                            </div>

                      </div>
                </div>
         </div>
       </div>
    </div>

       {% comment %} <div class="col-lg-12">
            <div id="contentContainer" class="trans3d">
	<section id="carouselContainer" class="trans3d">
		<figure id="item1" class="carouselItem trans3d"><div class="carouselItemInner trans3d">1</div></figure>
		<figure id="item2" class="carouselItem trans3d"><div class="carouselItemInner trans3d">2</div></figure>
		<figure id="item3" class="carouselItem trans3d"><div class="carouselItemInner trans3d">3</div></figure>
		<figure id="item4" class="carouselItem trans3d"><div class="carouselItemInner trans3d">4</div></figure>
		<figure id="item5" class="carouselItem trans3d"><div class="carouselItemInner trans3d">5</div></figure>
		<figure id="item6" class="carouselItem trans3d"><div class="carouselItemInner trans3d">6</div></figure>
		<figure id="item7" class="carouselItem trans3d"><div class="carouselItemInner trans3d">7</div></figure>
		<figure id="item8" class="carouselItem trans3d"><div class="carouselItemInner trans3d">8</div></figure>

	</section>
      </div>

        </div>{% endcomment %}
    </div>
{% endblock %}








