html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
}
.top-container{
    padding-top: 15%;

}
.general_container{
    background: url('../img/bg_image.png') no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.general_container form{
    margin-top: 20px;
}

.general_container form label{
    font-weight: 300;
    color: rgb(206, 255, 253);
}

.title{
    text-align: center;
    color: white;
    font-weight: 100;
    line-height: 50px;
}