 {% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% load hitcount_tags %}

{% block content %}
<html>
<script type="text/javascript" src="{% static '/static_dev/js/star-rating.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/static_dev/css/star-rating.css' %}">


  <div class="container">
   <div class="row">
    <div class="col-lg-12 topblog">

        {% autoescape off %}
    <h2>{{ post.title }}</h2>
            <h5><p>{{ post.datetime }}</p></h5>

    <p>{{ post.content }}</p>


             {% comment %}<h2>Hitcount Info</h2>
    <dl class="dl-horizontal">
      <dt>Total Hits:</dt>
      <dd>{{ hitcount.total_hits }}</dd>
      <dt>The unique PK is:</dt>
      <dd>{{ hitcount.pk }}</dd>
      <dt>Hit counted?</dt>
      <dd id="hit-counted">
        <i id="hit-counted-value">{{ hitcount.hit_counted }}</i>
      </dd>
      <dt>Hit response:</dt>
      <dd id="hit-response">{{ hitcount.hit_message }}</dd>
      </dd>
</dl>
     {% endcomment %}       {% ratings object %}


        {% endautoescape %}
        <p>

    {% load disqus_tags %}

    {% disqus_show_comments %}
        </p>

    </div>
   </div>
  </div>
    </html>
{% endblock %}