 {% extends 'base.html' %}
{% load static %}


{% block content %}

    <title>Наш блог</title>


    <div class="container">
     <div class="row">
         <div class="col-lg-12 topblog posttitle">
    {% for post in object_list %}


    {% autoescape off %}




   <a class="hrefblog" href="{{ post.get_absolute_url }}">
       <div class="titlealign bgfordescription2">
          <h4>{{ post.title }}</h4><h6><p>{{ post.datetime }} Рубрика: {{ post.category}}</h6>
          <hr width="100%"/><h5>{{ post.short_content }}</h5>
       </div>

    </a>






 {% endautoescape %}

    {% empty %}
    <p>Нет постов</p>
    {% endfor %}

         </div>
     </div>
    </div>




{% endblock %}
