 {% extends 'base.html' %}
{% load static %}

{% comment %}
{% load ratings %}
{% load hitcount_tags %}
{% endcomment %}

{% block content %}
    <title>{{ post.title }}</title>
    <meta name="description" content="{{ post.content }}">
     <meta name="keywords" content="купить контент, контент менеджер, заказать статью, сделать блог, логотип, стиль, бренд, goldteam" />


<script type="text/javascript" src="{% static '/static_dev/js/star-rating.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/static_dev/css/star-rating.css' %}">
<script type="text/javascript" src="{% static '/static_dev/js/adaptive.js' %}"></script>



<div class="container-fluid" style="padding:0">
  <div class="row-fluid">
      <div class="col-lg-9 col-sm-9 col-md-10 col-xs-12 containerbackgroundpostdetail">

      <div class="hidden-lg hidden-md hidden-sm" align="center">
            Сортировка по рубрике:
               {% for category in category_list %}
                   {% autoescape off %}
                       <a href="/blog/category/{{ category.slug }}"><h4>{{ category.name }}</h4></a>
                   {% endautoescape %}
                    {% empty %}
                <p>Категории отсутствуют</p>
                {% endfor %}
        </div>

        {% autoescape off %}
            <h1 align="center">{{ post.title }}</h1><h5>Рубрика: <strong>{{ post.category}}</strong></h5>
            <h5><p>{{ post.datetime }}</p></h5>

    <p>{{ post.content }}</p>


<script type="text/javascript">(function(w,doc) {
if (!w.__utlWdgt ) {
    w.__utlWdgt = true;
    var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
}})(window,document);
</script>
<div data-mobile-view="true" data-share-size="30" data-like-text-enable="false" data-background-alpha="0.0" data-pid="1773119" data-mode="share" data-background-color="#ffffff" data-share-shape="round-rectangle" data-share-counter-size="12" data-icon-color="#ffffff" data-mobile-sn-ids="fb.vk.tw.ok.wh.vb.tm." data-text-color="#000000" data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff" data-share-counter-type="disable" data-orientation="horizontal" data-following-enable="false" data-sn-ids="fb.vk.tw.ok.tm." data-preview-mobile="false" data-selection-enable="true" data-exclude-show-more="false" data-share-style="1" data-counter-background-alpha="1.0" data-top-button="false" class="uptolike-buttons" ></div>






            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112083027-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112083027-1');
</script>

        {% endautoescape %}



        <p>

    {% load disqus_tags %}

    {% disqus_show_comments %}

        </p>
    </div>

    <div id="right" class="rightgroup1 col-lg-3 col-sm-3 col-md-2 col-xs-12">
      <!-- Блок, который необходимо чтобы оставался на одном месте при прокручивании страницы -->

        <div class="affix" id="myAffix">
        <div class="hidden-xs">
            Сортировка по рубрике:
               {% for category in category_list %}
                   {% autoescape off %}
                       <a href="/blog/category/{{ category.slug }}"><h4>{{ category.name }}</h4></a>
                   {% endautoescape %}
                    {% empty %}
                <p>Категории отсутствуют</p>
                {% endfor %}
        </div>

            Все статьи:
               {% for post in object_list %}
                   <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
               {% empty %}
            <p>Нет постов</p>
            {% endfor %}
         </div>
    </div>







  </div>
</div>


{% endblock %}