 {% extends 'base.html' %}
{% load static %}


{% block content %}

    <title>Наш блог</title>


    <div class="container">
     <div class="row">
         <div class="col-lg-12 topblog posttitle">
    {% for post in object_list %}


    {% autoescape off %}

<div class="bgfordescription2">

<div class="titlealign">
   <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}
       <h6><p>{{ post.datetime }} Рубрика: {{ post.category}}</h6>
    <hr width="100%" color="#dddddd" />
</h4>
    {{ post.short_content }}</a>
</div>


</div>


 {% endautoescape %}

    {% empty %}
    <p>Нет постов</p>
    {% endfor %}

         </div>
     </div>
    </div>




{% endblock %}
