 {% extends 'base.html' %}
{% load static %}

{% comment %}
{% load ratings %}
{% load hitcount_tags %}
{% endcomment %}

{% block content %}
    <title>{{ post.title }}</title>
    <meta name="description" content="{{ post.content }}">
     <meta name="keywords" content="купить контент, контент менеджер, заказать статью, сделать блог, логотип, стиль, бренд, goldteam" />


<script type="text/javascript" src="{% static '/static_dev/js/star-rating.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/static_dev/css/star-rating.css' %}">
<script type="text/javascript" src="{% static '/static_dev/js/adaptive.js' %}"></script>


<div class="container">
  <div class="row">
      <div class="col-xs-12 col-lg-9 topblog">

        {% autoescape off %}
    <h1>{{ post.title }}</h1><h5>Рубрика: {{ post.category}}</h5>
            <h5><p>{{ post.datetime }}</p></h5>

    <p>{{ post.content }}</p>




            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112083027-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112083027-1');
</script>

        {% endautoescape %}



        <p>

    {% load disqus_tags %}

    {% disqus_show_comments %}

        </p>
    </div>
    <div id="right" class="col-xs-12 col-lg-3">
      <!-- Блок, который необходимо чтобы оставался на одном месте при прокручивании страницы -->
      <div class="affix" id="myAffix" >

        Все статьи:
               {% for post in object_list %}

        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>

    {% empty %}
    <p>Нет постов</p>
    {% endfor %}

      </div>
    </div>
  </div>
</div>


{% endblock %}