 {% extends 'base.html' %}
{% load static %}

 {% block content %}




    <title>О нас</title>
     <meta name="description" content="Продвижение и разработка сайтов это наша работа. Студия GoldTeam.us - Ваш успех это и наш успех! Звони сейчас - ☎ +7 (937) 525-77-33">
     <meta name="keywords" content="goldteam, studio, сайт под ключ, html, css программирование, нанять программиста, it специалист, пирамида 2018" />
<div class="container">
    <div class="row aboutfon2">
        <div class="col-lg-12 aboutfon">



{% autoescape off %}

    {{ model.content|safe }}

{% endautoescape %}



        </div>
    </div>
</div>




 {% endblock %}