{% load static %}

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="siIItZHvbccBWNeeML2Ytdc_ah9vrN6j_Tc5c_L6AOU" />
    <meta name="yandex-verification" content="ede98ba876beb5ba" />
    <meta charset="UTF-8">

    <title>GoldTeam.us - Web Development,SMM,Content,AdWords,Promotion</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles -->
   <script src="{% static 'static_dev/js/jquery.bootstrap-autohidingnavbar.min.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

   {% comment %} <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <script src="{% static 'static_dev/js/fly.js' %}"></script>{% endcomment %}


    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static "/static_dev/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/static_dev/css/blog.css" %}">

    <meta name="viewport" content="width=device-width; initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <meta name="mailru-domain" content="ilIPb1L1XgGumuOC" />




<link rel="apple-touch-icon" sizes="180x180" href="static/static_dev/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/static_dev/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="static/static_dev/favicons/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="static/static_dev/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/static_dev/favicons/favicon-16x16.png">
<link rel="manifest" href="static/static_dev/favicons/manifest.json">
<link rel="mask-icon" href="static/static_dev/favicons/safari-pinned-tab.svg" color="#ffffff">
<meta name="theme-color" content="#ff0000">
    




</head>
<body>

    <div class="wrapper">

      <div class="wrapper-content">
         {% include 'navbar.html' %}


          {% block content %}




          {% endblock content %}

      </div>

   </div>

{% include 'footer.html' %}




<script type="text/javascript" src="//vk.com/js/api/openapi.js?150"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 132606507, {disableExpandChatSound: "1",disableNewMessagesSound: "1",tooltipButtonText: "Мы в ВК"});
</script>


</body>
</html>