{% load static %}

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="siIItZHvbccBWNeeML2Ytdc_ah9vrN6j_Tc5c_L6AOU" />
    <meta charset="UTF-8">

    <title>GoldTeam.us - Web Development,SMM,Content,AdWords,Promotion</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">



    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static "/static_dev/css/style.css" %}">

    <meta name="viewport" content="width=device-width; initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <meta name="mailru-domain" content="ilIPb1L1XgGumuOC" />

</head>
<body>

    <div class="wrapper">

      <div class="wrapper-content">
         {% include 'navbar.html' %}


          {% block content %}




          {% endblock content %}

      </div>

   </div>

{% include 'footer.html' %}







     <!-- JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


   <!-- Custom styles -->
<script src="{% static 'static_dev/js/jquery.bootstrap-autohidingnavbar.min.js' %}"></script>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?150"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 132606507, {disableExpandChatSound: "1",disableNewMessagesSound: "1",tooltipButtonText: "Мы в ВК"});
</script>


</body>
</html>