{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>



    <meta name="theme-color" content="#B19EDA">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112083027-1"></script>



    <meta name="google-site-verification" content="yrzl0vQmkNfBrd1nIjd5KvZlKlwnuFgz3aZd0fCwglk" />
    <meta name="yandex-verification" content="ede98ba876beb5ba" />
    <meta name="msvalidate.01" content="0538998235F56D92DCB7D2FFB3C7F63A" />
    <meta charset="UTF-8">



    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static "/static_dev/css/icons.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/static_dev/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/static_dev/css/blog.css" %}">


    {% comment %}<link rel="stylesheet" type="text/css" href="{% static "/static_dev/css/carousel.css" %}">
    <script type="text/javascript" src="{% static '/static_dev/js/carousel.js' %}"></script>{% endcomment %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
$(document).ready(function(){

$(window).scroll(function(){
if ($(this).scrollTop() > 100) {
$('.scrollup').fadeIn();
} else {
$('.scrollup').fadeOut();
}
});

$('.scrollup').click(function(){
$("html, body").animate({ scrollTop: 0 }, 600);
return false;
});

});
</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="/static/static_dev/js/main.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <meta name="mailru-domain" content="ilIPb1L1XgGumuOC" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/static_dev/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/static_dev/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/static/static_dev/favicons/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/static_dev/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/static_dev/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/static_dev/favicons/manifest.json">
    <link rel="mask-icon" href="/static/static_dev/favicons/safari-pinned-tab.svg" color="#ffffff">


    <link rel="manifest" href="/templates/manifest.json">

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "dc14f7f2-ca90-4b4b-a742-248ca5c63128",
    });
  });
</script>

</head>

<body>
<embed src="static/static_dev/audio/fon.mp3" width="70" height="45" align="left" hidden="False" autostart="True" loop="True">

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112083027-1');
</script>

<div id="particles-js"></div>


<div class="wrapper">

      <div class="wrapper-content">
         {% include 'navbar.html' %}


          {% block content %}



          {% endblock content %}


      </div>

   </div>
<a href="tel:+79375257733" id="popup__toggle" class="hidden-sm hidden-md hidden-lg"{% comment %} onclick="return false;"{% endcomment %}>
    <div class="circlephone" style="transform-origin: center;"></div>
    <div class="circle-fill" style="transform-origin: center;"></div>
    <div class="img-circle" style="transform-origin: center;"><div class="img-circleblock" style="transform-origin: center;"></div></div>
</a>


{% include 'footer.html' %}





<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<a href="#"><img src="/static/static_dev/img/iconup.png" class="scrollup hidden-xs" alt="Наверх" title="Наверх"></a>

</body>
</html>