 {% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/static_dev/css/icons.css" %}">
<link href="https://fonts.googleapis.com/css?family=Tillana" rel="stylesheet">
<footer class="footer">
    <div class="container">
        <div class="col-lg-12">

                <div class="contacts">
                <div class="text">
           <div><h4> <p>Copyright © GoldTeam Studio 2016-2018
</h4></div>
            </div>Контакты<a href="skype:+79503290992?call"> +79503290992  </a>home@goldteam.us
                    <div class="social instagram">
               <a href="https://www.instagram.com/goldteamfoundation/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
             </div>
                <div class="social vk">
                <a href="https://vk.com/goldteamus" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
               </div>
                  </div>


        </div>

    </div>

</footer>

