{% extends 'base.html' %}
 {% block content %}
     <html>
     <meta charset="UTF-8">
    <title>Регистрация</title>
     <div class="container" style="margin-top: 10%">
         <div class="row">
            <div class="col-lg-12 top-bottom" style="text-align: center">
                 <div style="color: #5d5db1">
             <h2>Ведутся работы по данному разделу</h2>
         </div>
            <body>
             <form action="" method="post">
              {% csrf_token %}
             <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
              {{ form.as_p }}
             <button type="submit">Вход</button>
             </form>
            </body>
            </div>
        </div>
    </div>
     </html>
 {% endblock %}
