<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div id="radiobells_container"><a href="https://www.radiobells.com/" rel="nofollow" id="RP_link">www.radiobells.com</a> #radiobells_script_hash</div>
<script type="text/javascript">
    var rad_backcolor="#cbafe0";
    var rad_backcolor2="#8d9ef0";
    var rad_textcolor="#451515";
    var rad_bordercolor="#38133b";
    var rad_volumecolor="#c44747";
    var rad_logo = "black";
    var rad_width=250; var rad_type = "horizontal"; var rad_autoplay = false;
    var rad_stations =[['https://air2.radiorecord.ru:805/rr_320','Радио Рекорд'],
        ['https://77.91.65.146/nashe-128.mp3','Наше радио'],
        ['https://ic7.101.ru:8000/v1_1?','Радио NRJ'],
        ['https://online-kissfm.tavrmedia.ua/KissFM','Kiss FM'],
        ['https://ep256.hostingradio.ru:8052/europaplus256.mp3','Европа плюс'],
        ['https://ic3.101.ru:8000/v3_1','Авторадио'],
        ['https://air2.radiorecord.ru:805/gop_320','Гоп ФМ'],
        ['https://ic2.101.ru:8000/v13_1?setst=-1','Relax FM'],
        ['https://air2.radiorecord.ru:805/ps_320','Пиратская станция']];
</script>
<script type="text/javascript" src="https://www.radiobells.com/script/v1_5.js" charset="UTF-8"></script>

</body>
</html>