{% extends 'base.html' %}
 {% block content %}
     <html>
     <meta charset="UTF-8">
    <title>Регистрация</title>
     <div class="container" style="margin-top: 10%">
         <div class="row">
            <div class="col-lg-12 top-bottom" style="text-align: center">
                 <div style="color: #5d5db1">
             <h2>Ведутся работы по разделу Регистрация</h2>
         </div>
            <body>

             <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <span>{{ field.help_text }}</span>
                    {% endif %}
                    {% for error in field.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <button type="submit">Отправить</button>
             </form>
             Авторизоваться через:
            <a href="{% url "social:begin" "google-oauth2" %}">Google+</a>
            <a href="{% url "social:begin" "google-oauth2" %}">Google+</a>
            </body>
            </div>
        </div>
    </div>
     </html>
 {% endblock %}
