{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
<title>Видеочат p2p</title>
<meta name="description" content="GoldTeam Studio в поиске инвестиций. p2p видеочат работает в тестовом режиме">
 <meta name="keywords" content="знакомства, онлайн знакомства, видеочат, чат рулетка, videochat, p2p, webrtc" />
  <head>
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static "/static_dev/css/chat.css" %}">
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>

  </head>

  <div class="container">
      <div class="row">
          <div class="col-lg-12">
                            <div class="videobox">
                               <div class="videocenter">
                                   <body onload="showMyFace()">
                                    <video id="yourVideo" autoplay muted></video>
                                    <video id="friendsVideo" autoplay></video>
                                </div>
                            </div>
                            <div class="videobox">
                                <div class="videocenter">
                                    <button onclick="showFriendsFace()" type="button" class="btn btn-lg">
                                        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>Call</button>
                                </div>
                            </div>


    <br />
    <script src="{% static 'static_dev/js/chat.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "/static_dev/css/chat.css" %}">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="chattext">
                   <p>Видеочат на 150 случайных пользователей</p>
                    <p>Помоги развитию чата - расскажи о нас друзьям!</p>
                        <script type="text/javascript">
                            (function(w,doc) {
                                if (!w.__utlWdgt ) {
                                    w.__utlWdgt = true;
                                    var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
                                    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                                    s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
                                    var h=d[g]('body')[0];
                                    h.appendChild(s);
                                }})(window,document);
                        </script>
                    <div data-mobile-view="true" data-share-size="30" data-like-text-enable="false" data-background-alpha="0.0" data-pid="1773119" data-mode="share" data-background-color="#ffffff" data-share-shape="round-rectangle" data-share-counter-size="12" data-icon-color="#ffffff" data-mobile-sn-ids="fb.vk.tw.ok.wh.vb.tm." data-text-color="#000000" data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff" data-share-counter-type="disable" data-orientation="horizontal" data-following-enable="false" data-sn-ids="fb.vk.tw.ok.tm." data-preview-mobile="false" data-selection-enable="true" data-exclude-show-more="false" data-share-style="1" data-counter-background-alpha="1.0" data-top-button="false" class="uptolike-buttons" ></div>
                </div>

            </div>
        </div>

    </div>




    <script>
        var config = {
    apiKey: "AIzaSyAziN4u3ubcg7QQrhvrz7aksVdaC6MQF_0",
    authDomain: "videochat-9297f.firebaseapp.com",
    databaseURL: "https://videochat-9297f.firebaseio.com",
    projectId: "videochat-9297f",
    storageBucket: "videochat-9297f.appspot.com",
    messagingSenderId: "998751314390"
  };
firebase.initializeApp(config);

var database = firebase.database().ref();
var yourVideo = document.getElementById("yourVideo");
var friendsVideo = document.getElementById("friendsVideo");
var yourId = Math.floor(Math.random()*1000000000);
var servers = {'iceServers': [{'urls': 'stun:stun.services.mozilla.com'}, {'urls': 'stun:stun.l.google.com:19302'}, {'urls': 'turn:numb.viagenie.ca','credential': 'goldteam','username': 'goldteamus@mail.ru'}]};
var pc = new RTCPeerConnection(servers);
pc.onicecandidate = (event => event.candidate?sendMessage(yourId, JSON.stringify({'ice': event.candidate})):console.log("Sent All Ice"));
pc.onaddstream = (event => friendsVideo.srcObject = event.stream);

function sendMessage(senderId, data) {
    var msg = database.push({ sender: senderId, message: data });
    msg.remove();
}

function readMessage(data) {
    var msg = JSON.parse(data.val().message);
    var sender = data.val().sender;
    if (sender != yourId) {
        if (msg.ice != undefined)
            pc.addIceCandidate(new RTCIceCandidate(msg.ice));
        else if (msg.sdp.type == "offer")
            pc.setRemoteDescription(new RTCSessionDescription(msg.sdp))
              .then(() => pc.createAnswer())
              .then(answer => pc.setLocalDescription(answer))
              .then(() => sendMessage(yourId, JSON.stringify({'sdp': pc.localDescription})));
        else if (msg.sdp.type == "answer")
            pc.setRemoteDescription(new RTCSessionDescription(msg.sdp));
    }
};

database.on('child_added', readMessage);

function showMyFace() {
  navigator.mediaDevices.getUserMedia({audio:true, video:true})
    .then(stream => yourVideo.srcObject = stream)
    .then(stream => pc.addStream(stream));
}

function showFriendsFace() {
  pc.createOffer()
    .then(offer => pc.setLocalDescription(offer) )
    .then(() => sendMessage(yourId, JSON.stringify({'sdp': pc.localDescription})) );
}
    </script>

  </body>
          </div>
      </div>
  </div>
</html>

 {% endblock %}
