{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<html>

    <meta charset="UTF-8">
    <title>Заказать услугу</title>
    <meta name="description" content="Мы любим свою работу и ценим Ваше время">
     <meta name="keywords" content="заказать профессиональный сайт, бизнес сайт, инвестиции, вложить в it, инвестировать в goldteam us, сайт для бизнеса, купить сайт" />


<div class="container-fluid">
    <div class="row bgorder">
        <div class="col-lg-12 top-bottom">


{% autoescape off %}

    {{ model.content|safe }}


{% endautoescape %}
<a href="/static/static_dev/img/brif-goldteam.docx" class="btn-buy">Скачать бриф</a>

<h1>Остались вопросы? Спросите меня!</h1>
<form action="" method="post">{% csrf_token %}
                                             <div class="form-group">
                                             {% crispy form %}
                                                 <div class="" style="padding-top: 10px">
                                                   <button type="submit" class="btn btn-primary">Отправить</button>
                                                 </div>

                                             </div>

                                         </form>


        </div>
    </div>
</div>


</html>
{% endblock %}