 {% extends 'base.html' %}
{% load static %}

 {% block content %}
   <form id="form_buying_product" class="form-inline" action="{% url 'basket_adding' %}">{% csrf_token %}

                        </form>






     <div class="section section1 development-container">
       <div class="container">
               <div class="top-bottom">
                    {% include 'landing/container.html' %}
               </div>


           <div class="row">
               <div class="col-lg-12">
                  <h1 class="title">
                   Разработка сайта и фирменного стиля
                  </h1>
               </div>

               {% for product_image in products_images_develop %}
                   {% include 'landing/product_item.html' %}
               {% endfor %}
           </div>
       </div>
     </div>



<svg viewBox="0 0 800 600">  <symbol id="s-text">    <text text-anchor="middle"          x="50%"          y="35%"          class="text--line"          >      Elastic    </text>    <text text-anchor="middle"          x="50%"          y="68%"          class="text--line2"          >      Stroke    </text>      </symbol>    <g class="g-ants">    <use xlink:href="#s-text"      class="text-copy"></use>         <use xlink:href="#s-text"      class="text-copy"></use>         <use xlink:href="#s-text"      class="text-copy"></use>         <use xlink:href="#s-text"      class="text-copy"></use>         <use xlink:href="#s-text"      class="text-copy"></use>       </g>    </svg>





     <div class="section section2 pr-container">{% csrf_token %}
       <div class="container">
           <div class="row">
           <div class="col-lg-12">
               <h1 class="title">
                   Продвижение сайта, реклама и оптимизация
               </h1>
           </div>
               {% for product_image in products_images_pr %}
               {% include 'landing/product_item.html' %}
             {% endfor %}

           </div>
       </div>
     </div>



 {% endblock %}