{% load static %}
 <!-- Custom styles -->


<div class="col-lg-3">
 <div class="product-item">
    <div>
        <a href="{% url 'product' product_image.product.id %}">
             <img src="{{ product_image.image.url }}" class="img-responsive center-block">
        </a>
    </div>

    {% if product_image.product.discount %}
        <div class="discount-container">
            <span>{{ product_image.product.discount }}%</span>
        </div>
    {% endif %}
    <h4>{{ product_image.product.name }}</h4>
    <p>
        {{ product_image.product.short_description }}
    </p>
    <div>
        {{ product_image.product.price }} RUB
    </div>
    <div class="add-to-card-btn">
        <input type="button" value="+" onClick="change('number2',0,10, 1);"/>
        <input id="number2" type="text" value="1"/>
        <input type="button" value="-" onClick="change('number2',0,10,-1);"/>
        <button class="btn btn-primary">
            Добавить в корзину
        </button>
    </div>

 </div>
</div>