{% load static %}
 <!-- Custom styles -->

<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">


<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <a class="hrefmain" href="{% url 'product' product_image.product.id %}">
 <div class="product-item bw">
     <div class="imgbox blink">


             <img src="{{ product_image.image.url }}" alt="{{ product_image.product.alt }}" title="{{ product_image.product.title }}" class="img-responsive img-rounded center-block">

     </div>



       {% if product_image.product.discount %}
        <div class="discount-container">
            <span>{{ product_image.product.discount }}%</span>
        </div>
      {% endif %}

      <div class="basetitle">{{ product_image.product.name }}</div>
      <p>
        {{ product_image.product.short_description }}
      </p>
     <div class="pricebottom">
        {{ product_image.product.price }} РУБ
     </div>

 </div>



     </a>
</div>