.topblog{

    color: black;
    font-size: 20px;
    background-color: #fffcff;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: gainsboro;

}
.affix {
    color: black;
    padding: 7px 7px 7px 7px;
    background-color: #fffcff;
    border: 1px solid;
    border-radius: 5px;
    border-color: #d9edf7;

}
@media (max-width: 1200px) {
  .affix {
    position: static;
  }
}


