
.containerbackground{
    background-color: #fffcff;
    border-radius: 8px;
    margin-bottom: 8px;

    border: 1px solid;
    border-color: gainsboro;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    color: black;
    font-size: 18px;
}

.affix {
    color: black;
    padding: 4px 4px 4px 4px;
    background-color: #fffcff;
    border: 1px solid;
    border-radius: 5px;
    border-color: #d9edf7;
    box-shadow: 0 0 10px rgba(68,234,242,0.13); /* Параметры тени */

}
.img-cat{
    position: absolute;
}

@media (max-width: 1800px) {
  .affix {
    position: static;
  }
}
.posttitle{
    color: #56416e;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
}
.marginblog{
    margin-right: 3px;
    margin-left: 3px;
}
.blogmargin{
    margin-right: 2px;
    margin-left: 2px;
}

.href:hover{

text-decoration:none !important;
}
.href:visited{
    color: #8F8F8F /* Цвет посещенных ссылок */
}

.href:active{

    text-decoration:none !important;
}



