html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
}
.top-container{
    padding-top: 3%;

}


.general_container form{
    margin-top: 20px;
}

.general_container form label{
    font-weight: 300;
    color: rgb(206, 255, 253);
}

.title{
    text-align: center;
    color: white;
    font-weight: 100;
    line-height: 50px;
}
.form-group{
    color: white;
}


