#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f7f3f7;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 58px;
    height: 58px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 40%;
    background: url('/static/static_dev/img/8.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}

