#page-preloader .spinner {
    background: url('/static/static_dev/img/8.gif') no-repeat 50% 50%;
    width: 62px;
    height: 62px;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 41%;
    margin: -31px 0 0 -31px;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f7f3f7;
    z-index: 100500;
}



