.topblog{
    margin-top: 100px;
    color: #443752;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    border-bottom-style: double;
    border-left-style: outset;
    border-right-style: inset;
    border-top-style: double;

}