@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Lobster');

html, body{
    height: 100%;

    background: url("/static/static_dev/img/404.gif");
    margin-top: 20%;

    text-align: center;
}
.error{
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: white;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 80px;
}

.navbar {
    margin-bottom: 0;
}



.footer{
    position: static;
    margin-top: -80px;
    height: 80px;
    clear: both;
    background: linear-gradient(to top, #B1A7D3, #FBF4FB);
    font-family: 'Tillana', cursive;
    color: black;

}